html{
  height: 100%;
  width: 100%;
  margin: 0px;
}

body{
  height: 100%;
  width: auto;
}


#menu{
    height: 10%;
    width: 100%;
    background-color: #F7AE8F;
    margin: 0;
    position: static;
    text-align: center;
}

#equipement{
  margin: 5% auto auto;
  width: 50%;
  border: 2px solid black;
}

#equipement th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #F7AE8F;
    color: rgb(80, 66, 66);
}

#equipement th,td{
  border: 1px;
}

form{
  margin: 5% auto auto;
  width: 50%;
  border: 2px solid black;
  padding: 10px;
}